.section {
    &--choose {    
        text-align: center;

        @media screen and (min-width: 992px) {
            text-align: left;
        }
        @media screen and (min-width: 320px) {
            background-image: linear-gradient(rgba($body-bg, .9)), url(../img/choose-bg-sm.jpg);
        }
        @media screen and (min-width: 460px) {
            background-image: linear-gradient(rgba($body-bg, .9)), url(../img/choose-bg-md.jpg);
        }
        @media screen and (min-width: 1024px) {
            background-image: linear-gradient(rgba($body-bg, .9)), url(../img/choose-bg.jpg);
        }
        @media screen and (min-width: 1920px) {
            background-image: linear-gradient(rgba($body-bg, .9)), url(https://i.picsum.photos/id/1040/4496/3000.jpg);
        }
    }
}

.description {
    margin-top: 60px;
    
    &__text:not(:last-of-type) {
        margin-bottom: 35px;
    }
    &__text {
        overflow: hidden;
        max-height: 260px;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }
    @media screen and (min-width: 576px) and (max-width: 991px) {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.travels {
    @media screen and (min-width: 992px) {
        padding-left: 65px;

        .col {
            margin: 0;

            &:nth-of-type(2n) {
                text-align: right;
            }
        }
    }
}

.travel {
    display: inline-block;
    max-width: 350px;
    overflow: hidden;

    &__img {
        max-width: 100%;
    }
}