.section {
    &--tourist {
        @media screen and (min-width: 320px) {
            background-image: url(../img/tourist-bg-sm.jpg);
        }
        @media screen and (min-width: 460px) {
            background-image: url(../img/tourist-bg-md.jpg);
        }
        @media screen and (min-width: 1024px) {
            background-image: url(../img/tourist-bg.jpg);
        }
        @media screen and (min-width: 1920px) {
            background-image: url(https://i.picsum.photos/id/685/3000/2000.jpg);
        }
    }

    &--tourist &__title {
        margin-bottom: 50px;

        @media screen and (min-width: 992px) {
            margin-bottom: 100px;
        }
    }
}

.tourist-blog {
    margin: 0;
    background-color: $section-bg;
    @include flex($jc: center);
    flex-wrap: wrap;

    &__img-wrap {
        flex: 1 0 100%;
        max-width: 445px;
        width: 100%;

        @media screen and (min-width: 992px) {
            flex: 1 0 40%;
        }
    }
    &__img-block {
        display: block;
        padding-top: 60%;
        position: relative;
        overflow: hidden;
    }
    &__img {
        @include posA(50%, auto, auto, 50%);
        @include transform;
    }
    &__figcaption {
        flex-grow: 1;
        flex-basis: 100%;
        padding: 20px 15px;

        @media screen and (min-width: 992px) {
            flex: 1 0 60%;
            text-align: left;
            padding: 25px 50px;
        }
    }
    &__author {
        display: inline-block;
        margin-bottom: 30px;
        font-size: 2rem;
        text-transform: uppercase;
        font-style: normal;
        opacity: .95;
    }
    &__blockquote {
        margin: 0;
        text-indent: 1.5em;
        text-align: justify;
        position: relative;
        max-height: 390px;
    }
    &__icon {
        @include posA(-1em, auto, auto, -1.5em);
        color: $primary-color;
    }
}
  